<!DOCTYPE>
<html>
<head>
	<title>Blog</title>
</head>
<body>
	<h2><strong><center>BLOGS</center></strong></h2>
	
    <table style="width:90%; padding-left:5%"> 
    <th><strong>Title</strong></th>
    <tr>
    	<td style="width: 20%"><img src="http://placehold.it/260x180" alt=""></td> 
    	<td style="width: 80%"> Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.</td>
	</tr>
    </table><br>  
    <div class="row" style="padding-left:5%">
      <button href="#" class="btn"><i class="icon-pencil"></i> <strong>Write a blog</strong></button>
      <button href="#" class="btn"><i class="icon-pencil"></i> <strong>Comments</strong></button>
      <button href="#" class="btn"><i class="icon-pencil"></i> <strong>Write a comment</strong></button>
    </div>
 </body>
 	</html>